/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../assets/fonts/poppins-v15-latin-regular.woff") format("woff"), url("../assets/fonts/poppins-v15-latin-regular.ttf") format("truetype"), url("../assets/fonts/poppins-v15-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/poppins-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/poppins-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v15-latin-700.woff2") format("woff2"), url("../assets/fonts/poppins-v15-latin-700.woff") format("woff"), url("../assets/fonts/poppins-v15-latin-700.ttf") format("truetype"), url("../assets/fonts/poppins-v15-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/Circe-Light.eot");
  src: local(""), local(""), url("../assets/fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-Light.woff2") format("woff2"), url("../assets/fonts/Circe-Light.woff") format("woff"), url("../assets/fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Extra';
  src: url("../assets/fonts/Circe-ExtraBold.eot");
  src: local(""), local(""), url("../assets/fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Circe-ExtraBold.woff") format("woff"), url("../assets/fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/Circe-Thin.eot");
  src: local(""), local(""), url("../assets/fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-Thin.woff2") format("woff2"), url("../assets/fonts/Circe-Thin.woff") format("woff"), url("../assets/fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/Circe-Regular.eot");
  src: local(""), local(""), url("../assets/fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-Regular.woff2") format("woff2"), url("../assets/fonts/Circe-Regular.woff") format("woff"), url("../assets/fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../assets/fonts/Circe-Bold.eot");
  src: local(""), local(""), url("../assets/fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-Bold.woff2") format("woff2"), url("../assets/fonts/Circe-Bold.woff") format("woff"), url("../assets/fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*# sourceMappingURL=fonts.css.map */