//Переменные цвета
$main-text-color: #000000;
$additional-text-color: #BDBDBD;
$inversion-text-color: #FFFFFF;
$button-text-color: #4A56E2;
$main-accent-color: #24CCA7;
$additional-accent-color: #FF6596;

//Шрифт
$poppins: 'Poppins';
$circe: 'Circe';

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);