//Переменные цвета
$main-text-color: #000000;
$additional-text-color: #bdbdbd;
$inversion-text-color: #ffffff;
$button-text-color: #4a56e2;
$main-accent-color: #24cca7;
$additional-accent-color: #ff6596;

//Шрифт
$poppins: 'Poppins', sans-serif;
$circe: 'Circe', sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
