.tablet-placement {
  margin-right: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sub-division-tablet {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: flex-start;
  margin-right: 20px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 20px;
  }
}

.home-statistics-blur {
  backdrop-filter: blur(50px);
}

.page {
  backdrop-filter: blur(50px);
  // }
  @media screen and (min-width: 1280px) {
    padding-left: 85px;
  }
}

.left-side-block {
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 465px;
    margin-top: 0px;
    padding-top: 20px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 0;
  }
}
.right-side-block {
  margin-left: auto;
  margin-right: auto;
}
