@import '../../stylesheet/vars.scss';
.form-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 540px;
    padding-left: 65px;
    padding-right: 65px;
  }
}
.logo {
  margin-bottom: 50px;
  width: 120px;
  height: 30px;
  display: inline-block;
  background-image: url('../../images/icons/logo-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 40px;
  }
  &.bar-logo {
    margin-bottom: 0px;
    margin-right: auto;
  }
}
.form-block {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 36px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
    border-radius: 20px;
    width: 540px;
  }
}
.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-input {
  // position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  padding-left: 56px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #bdbdbd;
  &::placeholder {
    color: #bdbdbd;
  }
}

.form-label {
  width: 100%;
  height: 34px;
  position: relative;
  margin-bottom: 40px;
  &:nth-child(3) {
    margin-bottom: 8px;
  }
  &[type='email']::before {
    content: url('../../images/icons/email-icon.svg');
    width: 20px;
    height: 16px;
    display: block;
    position: absolute;
    top: 4px;
    left: 12px;
  }
  &[type='password']::before {
    content: url('../../images/icons/password-icon.svg');
    width: 16px;
    height: 21px;
    display: block;
    position: absolute;
    top: 1px;
    left: 14px;
  }
  &[type='text']::before {
    content: url('../../images/icons/username-icon.svg');
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: 3px;
    left: 14px;
  }
}
.login-button {
  // font-family: $circe;
  text-transform: uppercase;
  background-color: $main-accent-color;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #fff;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 320px;
  }
}
.nav-button {
  font-family: $circe;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 20px;
  color: $button-text-color;
  width: 100%;
  height: 50px;
  border: 1px solid $button-text-color;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 320px;
  }
}

.auth-block {
  // background-color: #e7eaf2;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) {
    width: 768px;
    padding: 60px 114px 48px 114px;
    // z-index: 1;

    // background: url('../../images/tablet/ellipse-rose-tablet.svg')
    // 100% 0 no-repeat,
    //     url('../../images/tablet/ellipse-purple-tablet.svg') 0 100% no-repeat ;
    //   background-color: $background-color-main;
    // padding: 0 0 48px;
  }
  @media screen and(min-width:1280px) {
    width: 1280px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    // background: url('../../images/desktop/ellipse-rose-desktop.svg')
    //     no-repeat 100% 0,
    //   url('../../images/desktop/ellipse-purple-desktop.svg') no-repeat 0 100%;
    // background-color: $background-color-main;
    padding: 0;
  }
}

.auth-image {
  display: block;
  margin-right: 40px;

  @media screen and(min-width:1280px) {
    margin-right: 0px;
  }
}

.reg-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/icons/registration.svg');
  width: 250px;
  height: 250px;

  @media screen and(min-width:1280px) {
    width: 410px;
    height: 412px;
    margin-bottom: 32px;
  }
}
.login-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/icons/login.svg');
  width: 260px;
  height: 250px;

  @media screen and(min-width:1280px) {
    width: 435px;
    height: 420px;
    margin-bottom: 28px;
  }
}
.side-block {
  display: none;
  @media screen and(min-width:768px) {
    display: flex;
    margin-bottom: 50px;
  }
  @media screen and(min-width:1280px) {
    display: block;

    margin-bottom: 0px;
  }
}
.reg-block {
  padding: 153px 60px 77px 90px;
}
.login-block {
  padding: 150px 50px 77px 75px;
}
.app-name {
  font-style: normal;
  font-weight: normal;
  font-family: $poppins;
  font-size: 30px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and(min-width:1280px) {
    margin: 0px;
  }
}
::-webkit-progress-bar {
  background-color: #e5f1ef;
  border-radius: 5px;
}
::-webkit-progress-value {
  background-color: #24cca7;
  border: 2px solid #24cca7;
  border-radius: 5px;
  box-shadow: 0px 1px 8px rgba(36, 204, 167, 0.5);
}
::-moz-progress-bar {
  background-color: #24cca7;
  background-color: #e5f1ef;
  border-radius: 5px;
}
progress {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #e5f1ef;
  margin-bottom: 28px;
}
.form-blur {
  width: 720px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
}
.login-blur {
  padding: 136px 85px 116px 95px;
}
.reg-blur {
  padding: 52px 85px 52px 95px;
}
.input-error {
  font-family: $circe;
  margin: 0px;
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
