// @import '../../../stylesheet/fonts.scss';
@import '../../../stylesheet/vars.scss';

/* Фильтры (месяц и год) */
.table {
  width: 280px;
  margin-top: 30px;

  .table_select {
    display: flex;
    justify-content: space-between;
  }

  .filter {
    &__input {
      width: 100%;
      height: 50px;
      padding: 12px 21px;
      border: 1px solid $main-text-color;
      box-sizing: border-box;
      border-radius: 30px;
      background: transparent;

      &::placeholder {
        color: $main-text-color;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
      }

      &:last-of-type {
        margin-top: 20px;
      }
    }
  }
}

/* список  статистики*/
.statistics {
  width: 100%;
  margin-top: 20px;
  padding-left: 0px;

  /* меню списка статистики(Категория и Сумма) */
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 28px; // ??????
    background-color: $inversion-text-color;
    border-radius: 30px;
    margin-top: 20px;
  }

  /* Категория . Сумма li */
  &__menu-item {
    font-size: 18px;
    line-height: 27px;
    color: $main-text-color;
    font-weight: 700;
  }
  /* иконка категории */
  &__item {
    height: 54px;
    border-bottom: 1px solid #dcdcdf;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: flex-end;
    padding: 15px;
    font-size: 16px;
    line-height: 18px;
    color: $main-text-color;

    &:first-of-type {
      margin-top: 9px;
    }
  }

  /* цвет иконок */
  &__color {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-color: rgb(14, 75, 241); // временно //
  }
  /* суммы расходов */
  &__costs {
    font-size: 16px;
    line-height: 24px;
    margin-left: auto;
    min-width: 60px;
    text-align: right;
  }
}
/* total  */
.outcome {
  width: 100%;
  margin-top: 15px;
  padding-left: 0;
  /* total li */
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    &:last-of-type {
      padding-bottom: 30px;
    }
  }

  /* тип (Расходы доходы) */
  &__type {
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
    font-weight: bold;
  }
  /* сумма расходы доходы */
  &__total {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;

    &--expenses {
      color: $additional-accent-color;
    }
    &--income {
      color: $main-accent-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .table {
    width: 350px;
    margin-top: 0;

    .filter {
      width: 350px;
      &__input {
        width: 166px;

        &::placeholder {
          font-size: 16px;
          line-height: 24px;
        }

        &:last-of-type {
          margin-left: 18px;
          margin-top: 0;
        }
      }
    }
  }

  .statistics {
    &__item {
      height: 54px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
