@import '../../stylesheet/vars.scss';

// Контейнер
.diagram {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);

  /* Заголовок */
  &__title {
    font-size: 30px;
    line-height: 45px;
    font-family: $circe;
    font-weight: normal;
    color:$main-text-color;
    margin-bottom: 0px;
  }

  /* Diagram-контейнер*/
  &__data {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .diagram {
    /* График-контейнер*/
    &__data {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .diagram {
    display: flex;
    flex-direction: column;
    &__title {
      margin-bottom: 0px;
    }
  }
}