@import '../../stylesheet/vars.scss';

// Контейнер
.diagram {
  // width: 320px; //attention
  // background-color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  // backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;

  /* Заголовок */
  &__title {
    font-size: 30px;
    line-height: 45px;
    font-family: $circe;
    font-weight: normal;
    color: $main-text-color;
    margin-bottom: 0px;
    // margin-left: 30px;  //attention
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
  }

  /* Diagram-контейнер*/
  &__data {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .diagram {
    // width: 768px; //attention
    // padding-left: 40px;
    /* График-контейнер*/
    &__data {
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .diagram {
    // width: 815px;
    border-left: 1px #fff solid;
    display: flex;
    flex-direction: column;
    margin-top: 0;

    &__data {
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      padding-top: 20px;
    }
    &__title {
      margin-bottom: 0px;
      padding-top: 30px;
      padding-left: 30px;
    }
  }
}
