@media screen and (min-width: 768px) {
  .Modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
  }
}

.Modal__content {
  position: absolute;
  width: 100%;
  min-height: 540px;
  top: 60px;
  padding: 20px 10px 40px 10px;
  background-color: #fff;

  @media screen and (min-width: 768px) {
    max-height: 620px;
    max-width: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }
}
