/*.table {
      text-align: center;
      min-width: 280px;
      max-width: 348px;
      
      border: none;
      background: #4a56e2;
     
      border-top-left-radius: 20%;
      border-top-right-radius: 20%;
      font-family: "Circe";
    }
    .head {
     
      border-bottom: none;
      font-weight: bold;
      color: $inversion-text-color;
      font-size: 18px;

    }
    .cell {
      border: none;
      background: #4a56e2;
      
      color: $inversion-text-color;
      font-weight: 400;
      font-size:16px;

    }
    .vector {
      background: #4a56e2;
      border-bottom-left-radius: 20%;
      border-bottom-right-radius: 20%;
    }*/
    